<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.dlgdev.teachers.helpbook"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".OrmApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <activity
            android:name=".views.courses.activities.CourseOverviewActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".views.courses.activities.CourseAdministrationActivity"
            android:label="@string/course_administration_title"/>

        <provider
            android:name="com.dlgdev.teachers.helpbook.db.TeachersProvider"
            android:authorities="com.dlgdev.teachers.helpbook"
            android:exported="false" />

        <activity
            android:name=".views.courses.activities.CoursesListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.events.activities.EventsInfoActivity"
            android:label="@string/title_activity_event_info"/>
        <activity
            android:name=".views.holidays.activities.HolidaysInfoActivity"
            android:label="@string/title_activity_holiday_info"/>
        <activity
            android:name=".views.students.activities.StudentGroupsInfoActivity"
            android:label="@string/title_activity_student_group_info"/>
        <activity
            android:name=".views.subjects.activities.SubjectsInfoActivity"
            android:label="@string/title_activity_subject_info"/>
    </application>

</manifest>
